<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>上传商品</strong></div>
  <div class="padding border-bottom">
    <a href="__MODULE__/Product/product_list"><button type="button" class="button border-yellow"><span></span>返回列表</button></a>
  </div>
  <div class="body-content">
    <form method="post" class="form-x" action="" enctype="multipart/form-data">  
      <div class="form-group">
        <div class="label">
          <label>商品名：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="title" data-validate="required:请输入商品名" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>商品类别：</label>
        </div>
        <div class="field">
          <select name="classId" class="input w50">
            <foreach name='arr' item='v'>
              <option value="{$v.id}">{$v.classname}</option>
            </foreach>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>图片：</label>
        </div>
        <div class="field">
          <input type="file" id="url1" name="thumb" class="input tips" style="width:25%; float:left;"  value=""  data-toggle="hover"  />
        </div>
      </div>     
      <div class="clear"></div>
      <div class="form-group">
        <div class="label">
          <label>规格：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="specification" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>价格：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="price" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>库存：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="stocks" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>其他属性：</label>
      	</div>
      	<div class="field" style="padding-top:8px;"> 
        	推荐 <input id="isCommend" name="isCommend"  type="checkbox" value="推荐" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        	首页 <input id="ishome" name="ishome"  type="checkbox" value="首页"/>
      	</div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>