<!DOCTYPE html PUBLIC "-//W3C//Dtd XHTML 1.0 Transitional//EN" "http://www.w3.org/tr/xhtml1/Dtd/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <title>提交订单</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="css/public.css" type="text/css" rel="stylesheet"/>
    <link href="css/order.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
</head>
<script>
    $(function(){
        $('.nav ul li').hover(function(){
            $(this).children(".details").show();
        },function(){
            $(this).children(".details").hide();
        });
        $('#my').hover(function(){
            $(this).find("div").show();
        },function(){
            $(this).find("div").hide();
        });
    });
</script>
<body>
<!------------顶部---------------->
<div class="top">
    <div class="wt1080">
        <div class="fl">
            <a href="index.html">洋店首页</a>&emsp;|&emsp;请&emsp;<a href="#" style="color: #ff9900">登陆</a>&emsp;或&emsp;<a href="#">立即注册</a>
        </div>
        <div class="fr">
            <ul>
                <li style="position: relative;" id="my">
                    <a href="my_order.html">我的洋店 <img src="image/sanjiao.png"></a>
                    <div class="personal">
                        <dl>
                            <dt><a href="my_order.html">我的订单</a></dt>
                            <dd><a href="my_youhuijuan.html">我的优惠卷</a></dd>
                            <dd><a href="my_jifen.html">我的积分</a></dd>
                        </dl>
                    </div>
                </li>
                <li><span class="shop">购物车<a href="shoppcar.html">0</a>件</span></li>
                <li><span class="phone"><a href="article.html">手机洋店</a></span></li>
                <li><span><a href="article.html">关于洋店</a></span></li>
                <li><span><a href="article.html">帮助中心</a></span></li>
                <li><span class="phone2">028-6133 8882</span></li>
            </ul>
        </div>
    </div>
</div>
<!--------------logo搜索------------->
<div class="wt1080 header">
    <div class="logo fl"><a href="index.html"><img src="image/logo.png"></a></div>
    <div class="search fl">
        <div>
            <input name="search" type="text" class="a_search fl" placeholder="请输入关键字">
            <span class="b_search fl"></span>
            <div class="clear"></div>
        </div>
        <p>
            <a href="#" class="current">可莱丝</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="#">森田药妆</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="#">Montagne jeunesse</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="#">丽得姿</a>
        </p>
    </div>
    <a class="my_shop fr" href="shoppcar.html">我的购物车<span>2</span></a>
    <div class="clear"></div>
</div>
<!--------------导航------------------>
<div class="nav">
    <div class="wt1080">
        <ul>
            <li>
                <a href="index.html" class="current"><span>首页</span></a>
            </li>
            <li>
                <a href="lanmu.html"><span>母婴专区</span></a>
                    <div class="details">

                                    <div class="item">
                                        <p class="title"><a href="lanmu.html">奶粉</a></p>
                                        <div class="ctgnamebox">
                                            <a href="product_list.html" class="current">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <p class="title"><a href="#">奶粉</a></p>
                                        <div class="ctgnamebox">
                                            <a href="product_list.html">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                        </div>
                                    </div>


                                    <div class="item">
                                        <p class="title"><a href="lanmu.html">奶粉</a></p>
                                        <div class="ctgnamebox">
                                            <a href="product_list.html" class="current">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <p class="title"><a href="lanmu.html">奶粉</a></p>
                                        <div class="ctgnamebox">
                                            <a href="product_list.html">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                            <a href="product_list.html">爱他美</a>
                                        </div>
                                    </div>
                    </div>
            </li>
            <li><a href="lanmu.html"><span>美妆护肤</span></a></li>
            <li><a href="lanmu.html"><span>家具生活</span></a></li>
            <li><a href="lanmu.html"><span>食品营养</span></a></li>
            <li><a href="lanmu.html"><span>全球直邮</span></a></li>
            <li><a href="lanmu.html"><span>合作申请</span></a></li>
        </ul>
        <div style="clear:both"></div>
    </div>
</div>
<!---------------------导航完--------------------->
<div class="wt1080">
    <!--------------标题----------->
    <div class="my_order">
        <h1>提交订单</h1>
        <div class="place">
            <ul>
                <li class="current"><span>1</span><p>我的购物车</p></li>
                <li class="current"><span>2</span><p>提交订单</p></li>
                <li><span>3</span><p>选择支付方式</p></li>
            </ul>
            <span class="heng"></span>
            <span class="a_heng"></span>
        </div>
    </div>
    <!-------------收货地址-------------->
    <div class="address">
        <div class="roo">收货地址<span></span></div>
        <div class="b_address">
            <ul>
                <li class="current">
                    <h1>张新<span>159****3994</span></h1>
                    <p>四川省 成都市 武侯区 大石西路130号还是觉得撒借款单萨科技哈撒艰苦的空间撒开回到家撒快点撒花</p>
                    <p>身份证号码：510524********1905</p>
                    <div class="operate">
                        <a href="#" class="edit">编辑</a>
                        <a href="#" class="del">删除</a>
                    </div>
                    <div class="check"></div>
                </li>
                <li>
                    <h1>张新<span>159****3994</span></h1>
                    <p>四川省 成都市 武侯区 大石西路130号还是觉得撒借款单萨科技哈撒艰苦的空间撒开回到家撒快点撒花</p>
                    <p>身份证号码：510524********1905</p>
                    <div class="operate">
                        <a href="#" class="edit">编辑</a>
                        <a href="#" class="del">删除</a>
                    </div>
                    <div class="check"></div>
                </li>
                <li>
                    <h1>张新<span>159****3994</span></h1>
                    <p>四川省 成都市 武侯区 大石西路130号还是觉得撒借款单萨科技哈撒艰苦的空间撒开回到家撒快点撒花</p>
                    <p>身份证号码：510524********1905</p>
                    <div class="operate">
                        <a href="#" class="edit">编辑</a>
                        <a href="#" class="del">删除</a>
                    </div>
                    <div class="check"></div>
                </li>

            </ul>
            <div class="add_address"><a href="#">添加地址</a></div>
            <div class="clear"></div>
        </div>
    </div>
    <!---------------订单信息-------------->
    <div class="order_details">
        <div class="roo">订单信息<span></span></div>
        <div class="tt">
            <table>
                <tr>
                    <th width="50%">商品</th>
                    <th width="16%">单价</th>
                    <th width="16%">数量</th>
                    <th width="18%">小计</th>
                </tr>
                <tr>
                    <td>
                        <div class="pic"><img src="image/p2.jpg"></div>
                        <p class="one"><a href="#">几乎都是电视剧的好卡萨当时的萨克的哈萨</a></p>
                        <p class="two">韩国一号仓发货</p>
                    </td>
                    <td><span class="e">￥318.00</span></td>
                    <td>1</td>
                    <td><span class="u">￥318.00</span></td>
                </tr>

                <tr>
                    <td>
                        <div class="pic"><img src="image/p2.jpg"></div>
                        <p class="one"><a href="#">几乎都是电视剧的好卡萨当时的萨克的哈萨</a></p>
                        <p class="two">韩国一号仓发货</p>
                    </td>
                    <td><span class="e">￥318.00</span></td>
                    <td>1</td>
                    <td><span class="u">￥318.00</span></td>
                </tr>
            </table>
        </div>
    </div>
    <!------------------优惠卷--------------->
    <div class="coupon">
        <div class="roo">优惠卷<span></span></div>
        <div class="rr">
            <p>此订单暂无可用的优惠卷。您可以<a href="#">查看所有的优惠卷</a>了解使用限制。<a href="#">[了解京东优惠卷规则]</a></p>
            <div class="ff">
                <ul>
                    <li>
                        <div class="check"><img src="image/k1.png"></div>
                        <span style="color: #ff5500">200-40</span>
                        <span>全品类（除特价商品外）</span>
                        <span>有效期至2016-01-23</span>
                    </li>
                    <li>
                        <div class="check"><img src="image/k1.png"></div>
                        <span style="color: #ff5500">99-10</span>
                        <span>全品类（除特价商品外）</span>
                        <span>有效期至2016-01-23</span>
                    </li>
                </ul>
            </div>
            <p style="border-bottom: none;">共使用了<font>0</font>张优惠卷 <span>可以优惠<font>0.00</font>元</span></p>
        </div>
        <div class="kk">
            <table>
                <tr>
                    <td>2件商品，商品总金额：</td>
                    <td>￥436.00</td>
                </tr>
                <tr>
                    <td>+运费：</td>
                    <td>￥0.00</td>
                </tr>
                <tr>
                    <td>+关税：</td>
                    <td>￥0.00</td>
                </tr>
                <tr>
                    <td>-商品优惠：</td>
                    <td>￥0.00</td>
                </tr>
            </table>
            <p class="money">应付余额：<span>￥<font>436.00</font></span></p>
        </div>
        <div class='clear'></div>
        <!---------------委托下的版本---------------->
        <div class="ll">
            <div class="bb">
                <h1>个人委托申报协议</h1>
                <p>本人承诺所购买商品系个人合理自用，现委托商家代理申报，代缴税款等通关事宜，本人保证遵守《海关法》和国家相关法律法规，保证所提供的身份信息和收货信息真是完整，无侵犯他人权益的行为，以上委托关系如实填写，本人愿意接受海关，检查检疫机构及其他监管部门的监管，并承担相应法律责任。</p>
            </div>
            <div class="ss">
                <p class="bg">寄送至：大石路130号</p>
                <p>收货人：张新 159****3994</p>
            </div>
            <div class="gg">
                <p>应付余额：<span>￥<font>436.00</font></span></p>
            </div>
            <a href="order_1.html"><input type="submit" value="确认提交订单" ></a>
            <div class="clear"></div>
        </div>
    </div>




</div>







<!---------------------保障------------------->
<div class="baozhang">
    <div class="wt1080">
        <ul>
            <li>
                <img src="image/c1.png">
                <p>全球正品货源</p>
            </li>
            <li>
                <img src="image/c2.png">
                <p>一件代发</p>
            </li>
            <li>
                <img src="image/c3.png">
                <p>全球直邮</p>
            </li>
            <li>
                <img src="image/c5.png">
                <p>售后无忧</p>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<!---------------底部--------------->
<div class="footer">
    <div class="wt1080" style="position: relative">
        <div class="a_footer">
            <div class="left">
                <a href="#"><img src="image/logo.png"></a>
                <p class="lianxi">
                    <a href="#"><img src="image/weixin.png"></a>
                    <a href="#"><img src="image/weibo.png"></a>
                    <a href="#"><img src="image/QQ.png"></a>
                    <span>028-6133 8882</span>
                </p>
            </div>
            <div class="right">
                <ul>
                    <li>
                        <dl>
                            <dt><a href="#">新手指南</a></dt>
                            <dd><a href="#">购物流程</a></dd>
                            <dd><a href="#">支付方式</a></dd>
                            <dd><a href="#">通关关税</a></dd>
                            <dd><a href="#">常见问题</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><a href="#">新手指南</a></dt>
                            <dd><a href="#">购物流程</a></dd>
                            <dd><a href="#">支付方式</a></dd>
                            <dd><a href="#">通关关税</a></dd>
                            <dd><a href="#">常见问题</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><a href="#">新手指南</a></dt>
                            <dd><a href="#">购物流程</a></dd>
                            <dd><a href="#">支付方式</a></dd>
                            <dd><a href="#">通关关税</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><a href="#">新手指南</a></dt>
                            <dd><a href="#">购物流程</a></dd>
                            <dd><a href="#">支付方式</a></dd>
                            <dd><a href="#">通关关税</a></dd>
                            <dd><a href="#">常见问题</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <div class="weixin"><img src="image/weixin1.png"><p>扫描二维码下载APP</p></div>
        <!------------------------>
        <p class="beian">Copyright © 2016 洋店网.版权所有.备案号：京ICP证35124521号.技术支持：西部网络</p>
    </div>
</div>
</body>
</html>
