<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>修改管理员</strong></div>
  <div class="padding border-bottom">
      <ul class="search" style="padding-left:10px;">
        <li> <a class="button border-main" href="__MODULE__/Admin/admin_list">返回列表</a></li>
      </ul>
  </div>
  <div class="body-content">
    <form method="post" class="form-x" action="">  
      <div class="form-group">
        <div class="label">
          <label>管理员账号：</label>
        </div>
        <div class="field" style="margin-top:8px;">
          {$data['adminname']}
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>真实姓名：</label>
        </div>
        <div class="field">
          <input type="text" id="url1" name="realName" class="input w50" style="width:25%; float:left;"  value="{$data['realname']}"  data-toggle="hover" data-place="right" data-image="" />
        </div>
      </div>      
	  <div class="form-group">
        <div class="label">
          <label>性别：</label>
        </div>
        <div class="field" style="margin-top:10px;">
           男<input type="radio" name="sex" style="cursor:pointer;" value="男" <eq name="data.sex" value="男">checked</eq> />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           女<input type="radio" name="sex" value="女" style="cursor:pointer;" <eq name="data.sex" value="女">checked</eq> />
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>联系方式：</label>
        </div>
        <div class="field">
          <input type="text" id="url1" name="phone" class="input w50" style="width:25%; float:left;"  value="{$data['phone']}"  data-toggle="hover" data-place="right" data-image="" />
        </div>
      </div>  
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit">提交</button>
        </div>
      </div>
    </form>
  </div>
</div>