<link href="__PUBLIC__/public_home/css/show.css" type="text/css" rel="stylesheet"/>
<!---------------------导航完--------------------->

<script type="__PUBLIC__/public_home/text/javascript" src="js/owl.carousel.min.js"></script>
<div class="wt1080">
    <!----------------位置--------------------->
    <div class="place">
        当前位置：<span class="check"><foreach name="arr" item="v">&nbsp;<a 
		href="__CONTROLLER__/product_list/id/{$v.Id}">{$v.className}</a>&nbsp;&gt;</foreach></span>
    </div>
    <!-------------商品详细----------------->
    <div class="property">
        <div class="left">
            <div class="left_top">
                <img src="__PUBLIC__/uploads/{$data['thumb']}" class="jqzoom" >
                <a href="#" class="search"></a>
            </div>
        </div>
        <div class="right">
            <a href="#" class="title">{$data['title']}   {$data['specification']}</a>
            <div class="aa">
                <span class="a">价格</span>
                <span class="b">￥{$data['price']}</span>
                <span class="c">包邮</span>
                <span class="d">国内参考价 ￥988.00</span>
            </div>
            <table>
                <tr>
                    <td class="one">库存</td>
                    <td>{$data['stocks']}</td>
                </tr>
                <tr>
                    <td class="one">关税</td>
                    <td>本商品实用税率为10%，若订单关税<50元则免征</td>
                </tr>
                <tr>
                    <td class="one">数量</td>
                    <td>
                        <div class="change">
                            <span class="zuo">-</span>
                            <input name="" type="text" value="1">
                            <span class="you">+</span>
                        </div>
                    </td>
                </tr>
            </table>
            <!-----------------购买按钮--------------->
            <div class="shopping">
                <a href="order.html" class="buy">立即购买</a>
                <a href="__MODULE__/Cart/shoppcar/id/{$data['id']}" class="shop_car">加入购物车</a>
                <div class="clear"></div>
            </div>
            <!-----------保障---------------->
            <div class="b_baozhang">
                <ul>
                    <li>
                        <img src="__PUBLIC__/public_home/image/u1.png">
                        <p>全球正品货源</p>
                    </li>
                    <li>
                        <img src="__PUBLIC__/public_home/image/u2.png">
                        <p>一件代发</p>
                    </li>
                    <li>
                        <img src="__PUBLIC__/public_home/image/u3.png">
                        <p>全球直邮</p>
                    </li>
                    <li>
                        <img src="__PUBLIC__/public_home/image/u4.png">
                        <p>售后无忧</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <!-----------------下半部分------------------->
    <div class="details">
        <div class="details_left">
            <div class="d_l_t">
                <div class="d_l_t_t">
                    <a href="" class="current">商品详情</a>
                    <a href="">买家口碑(1600)</a>
                </div>
                <!-----------详细内容---------->
                <div class="d_l_t_d">
                    <img src="__PUBLIC__/public_home/image/xiangxi.png">
                </div>
                <!----------评价---------->
            </div>
            <div class="pingjia">
                <div class="pingjia_t">
                    <span>买家口碑</span>本商品由Aptamil/爱他美发货并提供售后服务
                </div>
                <!----------评价----------->
                <div class="pingjia_d">
                    <div class="pingjia_d_t">
                        <span class="current"><img src="__PUBLIC__/public_home/image/d1.png">全部评价（5884）</span>
                        <span><img src="__PUBLIC__/public_home/image/d2.png">好评（5750）</span>
                        <span><img src="__PUBLIC__/public_home/image/d2.png">好评（48）</span>
                        <span><img src="__PUBLIC__/public_home/image/d2.png">差评（86）</span>
                        <span><img src="__PUBLIC__/public_home/image/d2.png">晒单（227）</span>
                    </div>
                    <!----------留言----------->
                    <div class="pingjia_d_l">
                        <ul>
                            <li>
                                <p class="title"><span>月夜花香</span>（2015-10-03 21:47:13）</p>
                                <p class="pic"><img src="__PUBLIC__/public_home/image/p10.jpeg"></p>
                                <p class="mess">已经开始喝第二阶段的奶粉了，会继续支持德贝。</p>
                                <p class="admin">管理员：亲爱的用户，已返现到您的会员账户，感谢你对德贝的支持，我们会继续坚持给您带来最极致的服务。</p>
                            </li>

                            <li>
                                <p class="title"><span>月夜花香</span>（2015-10-03 21:47:13）</p>
                                <p class="pic"><img src="__PUBLIC__/public_home/image/p10.jpeg"></p>
                                <p class="mess">已经开始喝第二阶段的奶粉了，会继续支持德贝。</p>
                                <p class="admin">管理员：亲爱的用户，已返现到您的会员账户，感谢你对德贝的支持，我们会继续坚持给您带来最极致的服务。</p>
                            </li>

                            <li>
                                <p class="title"><span>月夜花香</span>（2015-10-03 21:47:13）</p>
                                <p class="pic"><img src="__PUBLIC__/public_home/image/p10.jpeg"></p>
                                <p class="mess">已经开始喝第二阶段的奶粉了，会继续支持德贝。</p>
                                <p class="admin">管理员：亲爱的用户，已返现到您的会员账户，感谢你对德贝的支持，我们会继续坚持给您带来最极致的服务。</p>
                            </li>
                        </ul>
                    </div>
                    <!---------------分页--------------->
                    <div class="page"><a href="#">上一页</a><a href="#">1</a><a href="#">2</a><a href="#">下一页</a></div>
                </div>
            </div>
            <!---------------------常见问题------------------->
            <div class="problem">
                <h1>常见问题</h1>
                <div class="problem_c">
                    <div class="problem_c_t">
                        <div class="title">
                            <span>Q</span>
                            <font>商品来自哪里？</font>
                            <div class="clear"></div>
                        </div>
                        <div class="answer">
                            <span>A</span>
                            <font>我们的专业招商团队，确保所有的品牌均为海外优质品牌，主要是由海外品牌入住商或品牌代理经销商等品牌入驻商提供，让你轻松享受到国外优质原装进口商品。</font>
                            <div class="clear"></div>
                        </div>

                        <div class="title">
                            <span>Q</span>
                            <font>我还要额外缴纳关税么？</font>
                            <div class="clear"></div>
                        </div>
                        <div class="answer">
                            <span>A</span>
                            <font>依据《中华人民共和国进境物品归类表》，以商品实际销售价格作为完税价格（征税基数），参照行邮税税率征收进境物品进口税，应征税在50元以下（含50元），海关予以免征。</font>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!------------------->
                    <p>联系在线客服，或拨打客户电话：028-6133 8882。<p>
                    <p>客户工作时间：周一到周日9：00-22：00，法定假日除外。<p>
                </div>
            </div>
        </div>



        <div class="details_right">
            <div class="d_r_t">相似推荐</div>
            <div class="d_r_d">
                <ul>
                    <li>
                        <a href="#"><img src="__PUBLIC__/public_home/image/p9.png"></a>
                        <p><a href="#">德国爱他美Aptamil奶粉...</a></p>
                        <p><span>￥<font>359.00</font></span> 5.2折包邮</p>
                    </li>
                    <li>
                        <a href="#"><img src="__PUBLIC__/public_home/image/p9.png"></a>
                        <p><a href="#">德国爱他美Aptamil奶粉...</a></p>
                        <p><span>￥<font>359.00</font></span> 5.2折包邮</p>
                    </li>
                    <li>
                        <a href="#"><img src="__PUBLIC__/public_home/image/p9.png"></a>
                        <p><a href="#">德国爱他美Aptamil奶粉...</a></p>
                        <p><span>￥<font>359.00</font></span> 5.2折包邮</p>
                    </li>
                    <li>
                        <a href="#"><img src="__PUBLIC__/public_home/image/p9.png"></a>
                        <p><a href="#">德国爱他美Aptamil奶粉...</a></p>
                        <p><span>￥<font>359.00</font></span> 5.2折包邮</p>
                    </li>
                    <li>
                        <a href="#"><img src="__PUBLIC__/public_home/image/p9.png"></a>
                        <p><a href="#">德国爱他美Aptamil奶粉...</a></p>
                        <p><span>￥<font>359.00</font></span> 5.2折包邮</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>